.resultContainer {
  padding: 60px 20px;

  background-color: #1b1b1b; /* Page background */
  min-height: 75vh;
 
}
.container {
  background-color: #111010; /* Dark Hero Background */
   text-align: center;
  padding: 50px 20px;
  border-radius: 12px;
  max-width: 700px;
  margin: 40px auto;
  min-height: 60vh;
  color: #FAF3ED;
  box-shadow: 0px 2px 4px rgba(248, 238, 230, 0.5);
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #333;
  border-top: 4px solid #E52A2A; /* Accent Red */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.progressBarWrapper {
 margin: 20px auto;
  max-width: 400px;
}

.progressBar {
  width: 100%;
  background-color: #2a2a2a;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #E52A2A; /* Accent Red */
    transition: width 0.5s ease;

}

.progressText {
 margin-top: 5px;
  font-weight: bold;
  color: #E52A2A;

}

.steps {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 350px;
  margin: 20px auto;
  color: #FAF3ED; /* Light Text */
}

.steps li {
  margin: 10px 0;
  padding-left: 24px;
  position: relative;
    font-size: 0.95rem;

}

/* .steps li::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid #888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #111010;
}

.active::before {
  border-color: #E52A2A; 
  background-color: #E52A2A;
}

.pending {
  opacity: 0.6;
} */

.processingMsg {
  margin-top: 20px;
  color: #898888;
  font-weight: 500;
}
