.resultContainer {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
  min-height: 75vh;
}

.subtitle {
  font-size: 1rem;
  color: #5e6a78;
  margin-bottom: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
 
}

.leftPanel {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  margin-left: 0px;
  
}

.rightPanel {
  flex: 1;
  min-width: 260px;
  max-width: 350px;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

.resultImage {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.imageLabel {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}

.rightPanel p {
  margin: 10px 0;
  font-size: 0.95rem;
}

.rightPanel h3{
  text-decoration: underline;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.downloadBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}
.downloadBtn:hover {
  background-color: #0056b3;
}

.resetBtn {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resetBtn:hover {
  background-color: #ddd;
}

.playBtn {
  padding: 10px 20px;
  background-color: #34a853;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.playBtn:hover {
  background-color: #27833c;
}

.downloadBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.downloadBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .leftPanel {

  min-width: 400px;
  max-width: 450px;
  margin-left: 0px;
  
}

.rightPanel {

  min-width: 200px;
  max-width: 250px;
}
}



@media (max-width: 700px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }
  
.leftPanel {

  min-width: 300px;
  max-width: 400px;
  margin-left: 0px;
  
}

.rightPanel {

  min-width: 260px;
  max-width: 350px;
}
  
}
